---
import { getCollection, type CollectionEntry } from 'astro:content';
import { SITE_TITLE } from '../../consts';
import Head from '../../components/Head.astro';
import '../../styles/global.css'

export async function getStaticPaths() {
    const entries = await getCollection('blog');
    return entries.map((entry) => ({
        params: {
            slug: entry.slug,
        },
        props: { entry }
    })); 
}

interface Props {
    entry: CollectionEntry<'blog'>;
}

const { entry } = Astro.props;
const { title, description } = entry.data;
const { Content } = await entry.render();

---
<Head title={SITE_TITLE} />
<article>
    <h1>{title}</h1>
    <p>{description}</p>
    <div>
        <Content />
    </div>
</article>

<style is:global>
    article {
        max-width: 60%;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article img {
        max-width: 100%;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
</style>
