---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/layout.astro';
import '../../styles/global.css'

export async function getStaticPaths() {
    const entries = await getCollection('blog');
    return entries.map((entry) => ({
        params: {
            slug: entry.slug,
        },
        props: { entry }
    })); 
}

interface Props {
    entry: CollectionEntry<'blog'>;
}

const { entry } = Astro.props;
const { title, description } = entry.data;
const { Content } = await entry.render();

---
<Layout>
    <article>
        <h1>{title}</h1>
        <p class="description">{description}</p>
        <div>
            <Content />
        </div>
    </article>
</Layout>

<style is:global>
    article {
        max-width: 60%;
        margin: 2rem auto;
        padding: 2rem;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    article img {
        max-width: 100%;
        height: auto;
    }

    article h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        text-align: center
    }

    p {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .description {
        text-align: center;
        color: #666;
    }

    h2 {
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid #ccc;
        padding-bottom: 0.5rem;
    }

    h3 {
        font-size: 1.75rem;
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;
        color: #555;
    }

    a {
        color: #3498db;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
