@import "@fontsource/lato";
@import "normalize.css";

:root {
	--primary: #f0f0f0;
	--secondary: #303030;
	--accent: #1d63ed;
}

body {
	font-family: 'Lato', sans-serif;
	line-height: 1.6;
	background-color: var(--primary);
	color: var(--secondary);
}

pre code {
	display: block;
	padding: 1em;
	white-space: pre-wrap;
}

a {
	color : var(--accent);
	text-decoration: none;
}