@import "@fontsource/lato";

:root {
	--primary: #f4f4f4;
	--secondary: #303030;
	--accent: #1d63ed;
}

body {
	font-family: 'Lato', sans-serif;
	line-height: 1.6;
	background-color: var(--primary);
	color: var(--secondary);
	margin: 0;
	padding: 0;
}

pre code {
	display: block;
	padding: 1em;
}