---
import Layout from '../layouts/layout.astro'
import PostThumbnail from '../components/PostThumbnail.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('blog')
const sortedPosts = posts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
    <ul class="grid-container">
        {
            sortedPosts.map(({ slug, data }) => (
            <li>
                <a href={`/blog/${slug}`}>
                    <PostThumbnail slug={slug} post={data} />
                </a>
            </li>
            ))
        }
    </ul>
</Layout>

<style>
    ul {
        list-style: none;
        padding: 0;
        margin: 1rem 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
    }

    li {
        border: 4px solid #eaeaea;
    }

    a {
        display: block;
    }
</style>
