<header>
    <nav>
        <ul>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/">
                    <h1>Da Crosby Code</h1>
                </a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    ul a {
        color: white;
        text-decoration: none;
    }

    ul li {
        list-style: none;
    }

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 1em;
    }

    header {
        background-color: #303030;
        padding: 0.025em;
    }
</style>
