---
import '../styles/global.css'
import Head from '../components/Head.astro'
import PageHeader from '../components/PageHeader.astro'
import { SITE_TITLE } from '../consts'

---
<html lang="en">
    <Head title={SITE_TITLE} />
    <PageHeader />
    <body>
        <slot />
    </body>
</html>
